html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 50px;
  display: grid;
  place-items: center;
}

.component {
  width: 400px;
  min-height: 500px;
  border-radius: 30px;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.center-div {
  display: grid;
  place-items: center;
  padding: 5px;
}